* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Open Sans";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Open Sans";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.main {
  padding: 70px 0px 0px 0px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.form__input {
  width: 100%;
  height: 60px;
  border: 1px solid #d5d5d5;
  border-radius: 6px;
  margin: 0px 0px 15px 0px;
}

.form__input._error {
  border-color: #df1d42;
}

.form__input input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  padding: 0 20px 0 30px;
  font-size: 15px;
  color: #191918;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.form__select {
  margin: 0px 0px 15px 0px;
}

.form__select._error .select-title {
  border-color: #df1d42;
}

.form__btn {
  max-width: none !important;
  width: 100%;
}

.select-block {
  position: relative;
}

.select {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  cursor: pointer;
}

.select .select-title {
  z-index: 1;
  width: 100%;
  height: 60px;
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  position: relative;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.select .select-title__arrow {
  position: absolute;
  top: 0;
  right: 28px;
  width: 16px;
  height: 100%;
  background: url("../img/icons/select-arrow.svg") center/contain no-repeat;
}

.select .select-title__value {
  color: #191918;
  font-size: 15px;
  overflow: hidden;
  padding: 0 50px 0 24px;
  white-space: nowrap;
  text-transform: none;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.select .select-title__value.value_0 {
  color: #8f8f8f;
}

.select .select-options {
  position: absolute;
  z-index: 10;
  top: 48px;
  right: -20px;
  display: none;
  width: 100%;
  max-width: 280px;
  background-color: #fff;
  border: 1px solid #dedede;
  -webkit-box-shadow: 0px 2.01359px 4.69837px rgba(70, 79, 93, 0.4);
          box-shadow: 0px 2.01359px 4.69837px rgba(70, 79, 93, 0.4);
  border-radius: 9px;
}

.select .select-options:after {
  content: '';
  position: absolute;
  width: 17px;
  height: 17px;
  -webkit-transform: translate(0%, -50%) rotate(45deg);
      -ms-transform: translate(0%, -50%) rotate(45deg);
          transform: translate(0%, -50%) rotate(45deg);
  top: 0;
  right: 47px;
  background-color: #df1d42;
  z-index: -1;
}

.select .select-options-scroll {
  max-height: 100px;
  overflow: auto;
}

.select .select-options-list {
  padding: 0px 0px 0px 0px;
}

.select .select-options__value {
  text-align: left;
  background-color: #fff;
  color: #df1d42;
  font-weight: 700;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

input[type='text'],
input[type='email'],
input[type='tel'],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.title {
  font-size: 39px;
  font-weight: 700;
  line-height: 120%;
  color: #191918;
}

.title__highlighted_pink {
  color: #df1d42;
}

.desc {
  font-size: 18px;
  line-height: 125%;
  color: #696871;
}

.desc__highlighted_pink {
  color: #df1d42;
}

.desc__highlighted_italic {
  font-style: italic;
}

.btn {
  display: block;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 19px 59px;
  background-color: #df1d42;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.swipe-icon {
  width: 53px;
}

.swipe-icon img {
  max-width: 100%;
}

.popup {
  -webkit-overflow-scrolling: touch;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  position: fixed !important;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  z-index: 100;
}

.popup.active .popup__content {
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

.popup__container {
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup__content {
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  max-width: 500px;
  padding: 40px 80px;
  margin: 100px auto;
  background-color: #fff;
  border-radius: 5px;
}

.popup__close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.popup__title {
  font-weight: 600;
  font-size: 28px;
  text-align: center;
  margin: 0px 0px 40px 0px;
}

.rangeSlider,
.rangeSlider__fill {
  display: block;
  border-radius: 10px;
}

.rangeSlider {
  position: relative;
  margin: 0px 0px 20px 0px;
  background: #cfd2d9;
}

.rangeSlider__horizontal {
  height: 4px;
  width: 100%;
  border-radius: 20px;
}

.rangeSlider--disabled {
  opacity: 0.4;
}

.rangeSlider__fill {
  position: absolute;
}

.rangeSlider__fill__horizontal {
  height: 100%;
  top: 0;
  left: 0;
}

.rangeSlider__handle {
  border: none;
  cursor: pointer;
  display: inline-block;
  width: 29px;
  height: 29px;
  position: absolute;
  background-color: #f04539;
  border-radius: 50%;
}

.rangeSlider__handle__horizontal {
  top: -14.5px;
}

.header {
  position: fixed;
  width: 100%;
  height: 70px;
  left: 0;
  -webkit-animation: dropY 1s ease .4s 1 alternate forwards;
          animation: dropY 1s ease .4s 1 alternate forwards;
  z-index: 90;
}

@-webkit-keyframes dropY {
  from {
    top: -100px;
  }

  to {
    top: 0;
  }
}

@keyframes dropY {
  from {
    top: -100px;
  }

  to {
    top: 0;
  }
}

.header:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #df1d42;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 89;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 320px;
          flex: 0 0 320px;
  z-index: 89;
}

.header__logo img {
  max-width: 100%;
}

.header__menu {
  margin: 0px auto 0px;
}

.icon-menu {
  display: none;
  position: relative;
  width: 80px;
  height: 80px;
  cursor: pointer;
  background: -webkit-gradient(linear, right top, left top, color-stop(0.2%, #de5769), color-stop(34.32%, #de5769), color-stop(100.39%, #da2b42));
  background: -o-linear-gradient(right, #de5769 0.2%, #de5769 34.32%, #da2b42 100.39%);
  background: linear-gradient(270deg, #de5769 0.2%, #de5769 34.32%, #da2b42 100.39%);
  border-radius: 50%;
  z-index: 91;
}

.icon-menu span {
  position: absolute;
  display: block;
  width: 39px;
  height: 2px;
  left: 20.5px;
  top: 39px;
  margin: 0 auto;
  border-radius: 50px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.icon-menu span:first-child {
  top: 29px;
}

.icon-menu span:nth-child(2) {
  left: 27px;
  width: 26px;
}

.icon-menu span:last-child {
  top: auto;
  bottom: 29px;
}

.icon-menu.active span {
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}

.icon-menu.active span:first-child {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
}

.icon-menu.active span:last-child {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: 39px;
}

.menu__body {
  position: relative;
  z-index: 89;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list li {
  margin: 0px 25px 0px 0px;
}

.menu__list li:last-child {
  margin: 0px 0px 0px 0px;
}

.menu__link {
  font-size: 18px;
  color: #fff;
}

.footer {
  padding: 40px 0;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
}

.footer__logo img {
  max-width: 100%;
}

.footer__info {
  font-weight: 600;
  font-size: 16px;
  color: #191918;
}

.footer__info b {
  display: block;
  margin: 0px 0px 5px 0px;
}

.hero {
  padding: 30px 0;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* min-height: calc(100vh - 70px); */
  /* @media (max-width: $md3+px) {
         min-height: calc(100vh - 60px);
      } */
}

.hero__title {
  margin: 0px 0px 30px 0px;
}

.hero__desc {
  max-width: 434px;
  margin: 0px 0px 30px 0px;
}

.hero__img {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 56.52439%;
          flex: 0 0 56.52439%;
  overflow: hidden;
}

.hero__img:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 100%;
  width: 100%;
  height: 65%;
  background: center bottom/contain no-repeat url(../img/hero/scooter.svg);
  -webkit-animation: cameOutLeft 1s ease .5s 1 alternate forwards;
          animation: cameOutLeft 1s ease .5s 1 alternate forwards;
}

@-webkit-keyframes cameOutLeft {
  to {
    left: 0;
  }
}

@keyframes cameOutLeft {
  to {
    left: 0;
  }
}

.hero__img img {
  max-width: 100%;
}

.about {
  padding: 65px 0;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35.06098%;
          flex: 0 0 35.06098%;
}

.about__img img {
  max-width: 100%;
}

.about__title {
  margin: 0px 0px 30px 0px;
}

.about__desc {
  margin: 0px 0px 15px 0px;
}

.about__desc p {
  padding: 0px 0px 15px 0px;
}

.what {
  padding: 40px 0;
}

.what__title {
  text-align: center;
  margin: 0px 0px 80px 0px;
}

.what__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.what__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3333%;
          flex: 0 0 33.3333%;
  margin: 0px 0px 30px 0px;
}

.item-what {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.item-what__img {
  max-width: 150px;
  min-height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 15px 0px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.item-what__img img {
  max-width: 100%;
}

.item-what__title {
  font-size: 21px;
  font-weight: 700;
  color: #191918;
  margin: 0px 0px 10px 0px;
}

.item-what__desc {
  max-width: 300px;
  font-size: 14px;
  line-height: 150%;
  color: #696871;
}

.platform {
  padding: 60px 0;
}

.platform__title {
  text-align: center;
  margin: 0px 0px 60px 0px;
}

.platform__items {
  max-width: 1019px;
  margin: 0 auto;
}

.platform__swipe-icon {
  margin: -60px auto 0;
}

.item-platform__img {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-platform__img img {
  max-height: 100%;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.app {
  padding: 40px 0;
}

.app__title {
  text-align: center;
  margin: 0px 0px 40px 0px;
}

.app__body {
  max-width: 1250px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app__benefits {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 1%;
          flex: 1 0 1%;
  padding: 0px 20px 0px 0px;
}

.app__item {
  margin: 0px 0px 40px 0px;
}

.app__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 349px;
          flex: 0 0 349px;
}

.app__img img {
  max-width: 100%;
}

.item-app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-app__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 84px;
          flex: 0 0 84px;
  margin: 0px 30px 0px 0px;
}

.item-app__icon img {
  max-width: 100%;
}

.item-app__title {
  font-weight: 600;
  font-size: 22px;
  margin: 0px 0px 10px 0px;
  color: #df1d42;
}

.item-app__desc {
  font-size: 18px;
  color: #696871;
}

.gallery {
  padding: 40px 0;
}

.gallery__items {
  max-width: 1200px;
  margin: 0 auto;
}

.gallery__swipe-icon {
  margin: 40px auto 0;
}

.item-gallery__img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-gallery__img img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.scooters {
  padding: 60px 0;
}

.scooters__body {
  position: relative;
  padding: 0 70px;
}

.scooters__arrows {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.scooters__slider {
  position: relative;
  z-index: 3;
}

.scooters__swipe-icon {
  margin: 40px auto 0;
}

.arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrows__arrow {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
  cursor: pointer;
}

.arrows__arrow img,
.arrows__arrow svg {
  max-width: 100%;
}

.item-scooter {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.item-scooter__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40.59829%;
          flex: 0 0 40.59829%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-scooter__img img {
  max-width: 100%;
}

.item-scooter__body {
  padding: 0px 0px 0px 40px;
}

.item-scooter__title {
  font-weight: 700;
  font-size: 27px;
  color: #000;
  text-transform: uppercase;
  margin: 0px 0px 20px 0px;
}

.item-scooter__desc {
  font-size: 17px;
  color: #191918;
  line-height: 125%;
}

.item-scooter__desc p {
  margin: 0px 0px 10px 0px;
}

.item-scooter__desc p:last-child {
  margin: 0px 0px 0px 0px;
}

.profit {
  padding: 40px 0;
}

.profit__title {
  text-align: center;
  margin: 0px 0px 15px 0px;
}

.profit__desc {
  text-align: center;
  margin: 0px 0px 60px 0px;
}

.profit__table {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: 0 auto;
}

.table__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 15px 0;
}

.table__col {
  width: 340px;
  padding: 0px 20px 0px 0px;
}

.table__title {
  font-weight: 700;
  font-size: 27px;
  color: #df1d42;
}

.table__title_independently {
  color: #e97f7a;
}

.table__name {
  font-size: 15px;
  color: #848199;
}

.table__desc {
  font-weight: 600;
  font-size: 15px;
  color: #191918;
}

.details {
  padding: 40px 0;
}

.details__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.details__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 1%;
          flex: 1 0 1%;
  padding: 0px 40px 0px 0px;
}

.details__title {
  margin: 0px 0px 10px 0px;
}

.details__desc {
  font-size: 15px !important;
}

.details__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48.24242%;
          flex: 0 0 48.24242%;
}

.details__img img {
  max-width: 100%;
}

.calc {
  padding: 40px 0;
}

.calc__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calc__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 1%;
          flex: 1 0 1%;
  padding: 0px 60px 0px 0px;
}

.calc__title {
  margin: 0px 0px 15px 0px;
}

.calc__desc {
  margin: 0px 0px 25px 0px;
}

.calc__btn {
  text-align: center;
}

.calc__calc {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 734px;
          flex: 0 0 734px;
  background-color: #f1f1f5;
  border-radius: 19px;
  padding: 90px 50px;
  -webkit-box-shadow: -52.4646px 16.8368px 76px rgba(10, 2, 109, 0.07), -10.4929px 3.36735px 12.35px rgba(6, 3, 41, 0.035);
          box-shadow: -52.4646px 16.8368px 76px rgba(10, 2, 109, 0.07), -10.4929px 3.36735px 12.35px rgba(6, 3, 41, 0.035);
}

.calc__ranges {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 40px 0px;
}

.calc__range {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.calc__range .rangeSlider {
  max-width: 292px;
}

.calc__range span {
  display: block;
  color: #000;
  font-size: 15px;
  font-weight: 600;
  margin: 0px 0px 20px 0px;
}

.calc__range p {
  font-size: 14px;
  color: #b7bcc5;
}

.calc__output {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 80px 0px;
}

.calc__result {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  padding: 0px 50px 0px 0px;
}

.calc__result:last-child {
  padding: 0px 0px 0px 0px;
}

.calc__name {
  color: #000;
  font-weight: 700;
  font-size: 20px;
  margin: 0px 0px 14px 0px;
}

.calc__num {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  font-weight: 600;
  padding: 0px 0px 5px 0px;
  border-bottom: 2.85px solid #cfd2d9;
}

.calc__num p {
  font-size: 24px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  padding: 0px 60px 0px 0px;
}

.calc__num span {
  font-size: 20px;
}

.calc__sum {
  text-align: center;
}

.calc__sum p {
  color: #191918;
  font-weight: 600;
  font-size: 21px;
  margin: 0px 0px 14px 0px;
}

.calc__sum span {
  color: #1ba37a;
  font-weight: 700;
  font-size: 32px;
}

.staff {
  padding: 40px 0;
}

.staff__title {
  text-align: center;
  margin: 0px 0px 90px 0px;
}

.staff__body {
  max-width: 970px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

.staff__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3333%;
          flex: 0 0 33.3333%;
  margin: 0px 0px 40px 0px;
}

.item-staff {
  text-align: center;
  padding: 0 15px;
}

.item-staff__img {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 10px 0px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.item-staff__img img {
  max-width: 100%;
}

.item-staff__title {
  font-weight: 700;
  font-size: 18px;
  margin: 0px 0px 10px 0px;
  color: #df1d42;
}

.item-staff__desc {
  max-width: 250px;
  font-size: 12px;
  color: #696871;
  margin: 0 auto;
}

.steps {
  padding: 40px 0;
}

.steps__title {
  text-align: center;
  margin: 0px 0px 90px 0px;
}

.steps__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.steps__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.item-step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.item-step__icon {
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 20px 0px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.item-step__icon img {
  max-width: 100%;
}

.item-step__num {
  text-transform: uppercase;
  display: block;
  font-weight: 700;
  font-size: 24px;
  color: #191918;
  margin: 0px 0px 10px 0px;
}

.item-step__title {
  font-size: 17px;
  color: #df1d42;
  margin: 0px 0px 10px 0px;
}

.item-step__desc {
  max-width: 348px;
  font-size: 17px;
  line-height: 145%;
  color: #696871;
}

.faq {
  padding: 40px 0;
}

.faq__title {
  text-align: center;
  margin: 0px 0px 60px 0px;
}

.faq__body {
  max-width: 992px;
  margin: 0 auto;
}

.faq__item {
  margin: 0px 0px 14px 0px;
}

.item-faq {
  padding: 17px 47px;
  border: 1px solid #e1e1e1;
  border-radius: 25px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.item-faq__spoller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.item-faq__spoller.active .item-faq__arrow {
  -ms-transform: rotate(900deg);
  -webkit-transform: rotate(900deg);
  transform: rotate(900deg);
}

.item-faq__title {
  font-weight: 600;
  font-size: 21px;
  padding: 0px 15px 0px 0px;
  color: #333331;
}

.item-faq__arrow {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 56px;
          flex: 0 0 56px;
  height: 56px;
  background: rgba(204, 204, 204, 0.4);
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.item-faq__arrow img,
.item-faq__arrow svg {
  max-width: 14px;
}

.item-faq__desc {
  margin: 10px 0px 0px 0px;
  display: none;
  max-width: 700px;
  font-size: 17px;
  line-height: 144.44444%;
  color: #696871;
}

.contact {
  background: #fff center bottom/contain repeat no-repeat url(../img/contact/bg.svg);
  padding: 40px 0 100px;
}

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact__body {
  padding: 60px 40px 0px 0px;
}

.contact__title {
  font-size: 23px;
  color: #191918;
  font-weight: 700;
  margin: 0px 0px 15px 0px;
}

.contact__desc {
  font-weight: 600;
  font-size: 16px;
  color: #191918;
}

.contact__form {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 620px;
          flex: 0 0 620px;
  background-color: #fff;
  border-radius: 10px;
  padding: 60px 40px;
}

.contact__form form {
  max-width: 100%;
}

@media (min-width: 767.98px) {
  .select .select-options__value:hover {
    background-color: #df1d42;
    color: #fff;
  }

  .btn:hover {
    -ms-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    background-color: #e63f5f;
  }

  .about__img {
    margin: 0px 40px 0px 0px;
  }

  .item-what:hover .item-what__img {
    -ms-transform: scale(1.07);
    -webkit-transform: scale(1.07);
    transform: scale(1.07);
  }

  .item-staff:hover .item-staff__img {
    -ms-transform: scale(1.07);
    -webkit-transform: scale(1.07);
    transform: scale(1.07);
  }

  .item-step:hover .item-step__icon {
    -ms-transform: scale(1.07);
    -webkit-transform: scale(1.07);
    transform: scale(1.07);
  }

  .item-faq__spoller:hover .item-faq__arrow {
    background: rgba(166, 166, 166, 0.4);
  }
}

@media (min-width: 991.98px) {
  .header__logo_red {
    display: none;
  }

  .gallery__swipe-icon {
    display: none;
  }

  .scooters__swipe-icon {
    display: none;
  }
}

@media (max-width: 1452px) {
  .container {
    max-width: 970px;
  }

  .menu__link {
    font-size: 16px;
  }

  .footer__info {
    font-size: 14px;
  }

  .hero__title {
    font-size: 29px;
  }

  .hero__desc {
    font-size: 17px;
  }

  .steps__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
    margin: 0px 0px 40px 0px;
  }
}

@media (max-width: 991.98px) {
  .main {
    padding: 100px 0px 0px 0px;
  }

  .container {
    max-width: 750px;
  }

  .header {
    height: 100px;
  }

  .header:before {
    background-color: #fff;
  }

  .header__logo_white {
    display: none;
  }

  .header__menu {
    margin: 0 0 0 auto;
  }

  .icon-menu {
    display: block;
  }

  .menu__body {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: -100%;
    left: 0%;
    width: 100%;
    height: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 120px 0px 30px 0px;
    background-color: #fff;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    overflow: auto;
    z-index: 88;
  }

  .menu__body.active {
    top: 0;
  }

  .menu__list {
    height: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px 0px 20px 0px;
  }

  .menu__list li {
    margin: 0px 0px 20px 0px;
  }

  .menu__link {
    color: #191918;
    font-size: 18px;
  }

  .footer__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 220px;
            flex: 0 0 220px;
  }

  .footer__info {
    font-size: 12px;
  }

  .hero__container {
    /*  min-height: calc(100vh - 100px); */
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .hero__title {
    max-width: 528px;
    font-size: 36px;
  }

  .hero__img {
    margin: 0px 0px 30px 0px;
  }

  .what__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
  }

  .app__benefits {
    padding: 0px 0px 0px 0px;
  }

  .app__img {
    display: none;
  }

  .scooters__body {
    padding: 0px 0px 0px 0px;
  }

  .scooters__arrows {
    display: none;
  }

  .item-scooter__desc {
    font-size: 13px;
  }

  .details__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .details__body {
    padding: 0;
  }

  .details__img {
    margin: 0px 0px 20px 0px;
  }

  .calc__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .calc__body {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 30px 0px;
  }

  .calc__calc {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 100%;
  }

  .staff__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
  }

  .contact {
    background: #fff center bottom/auto 80% repeat no-repeat url(../img/contact/bg.svg);
  }

  .contact__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .contact__body {
    padding: 0px 0 40px 0;
  }

  .contact__form {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 100%;
    max-width: 620px;
  }
}

@media (max-width: 767.98px) {
  .main {
    padding: 60px 0px 0px 0px;
  }

  .container {
    max-width: none;
    padding: 0 10px;
  }

  .title {
    font-size: 34px;
  }

  .header {
    height: 60px;
  }

  .icon-menu {
    width: 54px;
    height: 54px;
  }

  .icon-menu span {
    left: 16.5px;
    top: 26px;
    width: 21px;
  }

  .icon-menu span:first-child {
    top: 18px;
  }

  .icon-menu span:nth-child(2) {
    left: 20px;
    width: 14px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 18px;
  }

  .icon-menu.active span {
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  .icon-menu.active span:first-child {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 26px;
  }

  .icon-menu.active span:last-child {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: 26px;
  }

  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__logo {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    max-width: 220px;
    margin: 0px 0px 20px 0px;
  }

  .footer__info {
    text-align: center;
    margin: 0px 0px 10px 0px;
  }

  .hero__title {
    max-width: 448px;
    font-size: 30px;
  }

  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .about__img {
    margin: 0px 0px 20px 0px;
  }

  .about__btn {
    margin: 0 auto;
  }

  .what__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .platform__swipe-icon {
    margin: -20px auto;
  }

  .item-app__title {
    font-size: 18px;
  }

  .item-app__desc {
    font-size: 14px;
  }

  .item-scooter__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 122px;
            flex: 0 0 122px;
  }

  .item-scooter__title {
    font-size: 20px;
  }

  .item-scooter__title {
    font-size: 16px;
  }

  .item-scooter__desc {
    font-size: 11px;
  }

  .table__col {
    width: 200px;
  }

  .table__title {
    font-size: 16px;
  }

  .table__name {
    font-size: 11px;
  }

  .table__desc {
    font-size: 11px;
  }

  .calc__calc {
    padding: 70px 30px;
  }

  .calc__range .rangeSlider {
    max-width: 90%;
  }

  .calc__range p {
    font-size: 12px;
  }

  .calc__result {
    padding: 0px 20px 0px 0px;
  }

  .calc__name {
    font-size: 12px;
  }

  .calc__num p {
    font-size: 16px;
  }

  .calc__num span {
    font-size: 14px;
  }

  .calc__sum p {
    font-size: 16px;
  }

  .calc__sum span {
    font-size: 24px;
  }

  .staff__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .steps__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .steps__item:last-child {
    margin: 0;
  }

  .item-faq {
    padding: 17px 33px;
  }

  .item-faq__title {
    font-size: 18px;
  }

  .item-faq__arrow {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 44px;
            flex: 0 0 44px;
    height: 44px;
  }

  .item-faq__desc {
    font-size: 15px;
  }

  .contact__form {
    padding: 0px 20px 60px;
  }
}

@media (max-width: 600px) {
  .table__col {
    padding: 0px 10px 0px 0px;
  }

  .table__title {
    font-size: 12px;
  }

  .table__name {
    font-size: 8px;
  }

  .table__desc {
    font-size: 9px;
  }
}

@media (max-width: 479.98px) {
  .form__input input {
    font-size: 11px;
  }

  .select .select-title__value {
    font-size: 11px;
  }

  .title {
    font-size: 26px;
  }

  .desc {
    font-size: 14px;
  }

  .btn {
    font-size: 12px;
    padding: 14px 41px;
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 220px;
            flex: 0 0 220px;
  }

  .hero__title {
    font-size: 20px;
    max-width: 300px;
    margin: 0px 0px 15px 0px;
  }

  .hero__desc {
    margin: 0px 0px 15px 0px;
  }

  .item-app__icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41px;
            flex: 0 0 41px;
    margin: 0px 15px 0px 0px;
  }

  .item-app__title {
    font-size: 13px;
  }

  .item-app__desc {
    font-size: 11px;
  }

  .item-scooter__body {
    padding: 0px 0px 0px 20px;
  }

  .item-scooter__title {
    font-size: 12px;
  }

  .item-scooter__desc {
    font-size: 9px;
  }

  .calc__ranges {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .calc__range {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    width: 100%;
    margin: 0px 0px 20px 0px;
  }

  .calc__range .rangeSlider {
    max-width: 100%;
  }

  .calc__output {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin: 0px 0px 40px 0px;
  }

  .calc__result {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    max-width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 20px 0px;
  }

  .calc__num {
    max-width: 175px;
  }

  .item-faq {
    padding: 17px 21px;
  }

  .item-faq__title {
    font-size: 12px;
  }

  .item-faq__arrow {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 38px;
            flex: 0 0 38px;
    height: 38px;
  }

  .item-faq__desc {
    font-size: 11px;
  }

  .contact__title {
    font-size: 17px;
  }

  .contact__desc {
    font-size: 12px;
  }
}

@media (max-width: 420px) {
  .popup__content {
    padding: 40px 40px;
  }
}